<%- include("partials/header") %>

<!-- Add a search form -->
<form action="/" method="GET" class="search-form">
  <input type="text" name="search" placeholder="Search by title" value="<%= search || '' %>">
  <button type="submit">Search</button>
</form>

<div class="posts-container">
  <% posts.forEach((post, index) => { %>
    <div class="post <%= isMobile ? 'col-xs-12' : (index < 10 ? 'col-xs-12' : 'col-xs-6') %>">
      <h1><%= post.title %></h1>
      <p class="post-meta">Created on <%= post.createdAt.toLocaleString() %> </p>
      <p><%= post.content.substring(0, 105) + "..." %></p>
      <a href="/posts/<%= post._id %>">Read More</a>
    </div>
  <% }); %>
</div>


<!-- Pagination -->
<div class="pagination">
  <% if (currentPage > 1) { %>
    <a href="/?page=<%= currentPage - 1 %>&<%= search ? 'search=' + search : '' %>">Previous</a>
  <% } %>
  
  <% pageNumbers.forEach((pageNumber) => { %>
    <a href="/?page=<%= pageNumber %>&<%= search ? 'search=' + search : '' %>" class="<%= currentPage === pageNumber ? 'active' : '' %>">
      <%= pageNumber %>
    </a>
  <% }); %>

  <% if (currentPage < totalPages) { %>
    <a href="/?page=<%= currentPage + 1 %>&<%= search ? 'search=' + search : '' %>">Next</a>
  <% } %>
</div>

<%- include("partials/footer") %>

